// theme
$background-color: if($use-dark-theme, $dark, $light);
$text-color: if($use-dark-theme, $light, $dark);
$text-color-quote: if(
  $use-dark-theme,
  darken($light, 23%),
  lighten($dark, 23%)
);
$inverted-bg: if($use-dark-theme, $light, $dark);

/// forms
$form-inactive-color: darken($light, 30%);
$form-active-color: $primary;

/// typography, link styling
$link-color: $primary;
$link-hover-color: lighten($link-color, 10%);
