// colors
$use-dark-theme: true !default;

$dark: #0e0e0e !default;
$light: #fafafa !default;

$primary: #00d3c5 !default;
$secondary: #4bcc6d !default;
$tertiary: #ff6b6b !default;

$error: #e02030 !default;
$success: #34f73d !default;

// animation
$animation-speed: 150ms;

// typography

// use OS font stack
$font-stack-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-stack-monospace: monospace !default;

// text and border size is dynamically calculated via rem
$size-base: 16px;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

// device sizes
$border: $size-base * 2 !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16, thanks to bulma for that
$tablet: 769px !default;
$desktop: 960px + ($border * 2) !default;
$widescreen: 1152px + ($border * 2) !default;
