.container {
  margin: 0 auto;
  position: relative;
  padding: ($border / 2);

  @include desktop() {
    max-width: $desktop - ($border * 2);
    width: $desktop - ($border * 2);
    padding: 0;

    &.is-fluid {
      margin-left: $border;
      margin-right: $border;
      max-width: none;
      width: auto;
    }
  }

  &:nth-child(0) {
    padding-top: 0;
  }
}
