.navigation {
  margin: auto;
  height: 70px;
  align-items: baseline;
  position: relative;
  padding: ($border / 2);

  @include desktop() {
    max-width: $desktop - ($border * 2);
    padding: 0;
  }

  @include tablet() {
    display: flex;
  }

  .navbar-brand {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .navbar-main {
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }

  .is-left,
  .is-right {
    flex: 1;
    margin: auto;
  }

  .is-left {
    text-align: left;
  }

  .is-right {
    text-align: right;
  }
  .navbar-menu {
    float: right;
    ul {
      display: flex;
      flex-flow: column;
      background: black;
      height: 100vh;
      width: 100vw;
      transform: translateX(100vw);
      position: fixed;
      top: 0;
      left: 0;
      padding: 4rem ($border / 2);
      margin: 0;
      opacity: 1;
      transition: all ($animation-speed * 2) ease-in-out;
      z-index: 999;
      visibility: hidden;

      li {
        font-size: 2rem;

        a {
          color: $light;
        }
      }

      @include tablet() {
        visibility: visible;
        z-index: 0;
        opacity: 1;
        transform: none;
        background: none;
        flex-flow: row;
        position: relative;
        height: auto;
        width: auto;
        padding: 0;

        li {
          font-size: 1rem;
          padding: 0 1rem;

          a {
            color: $text-color;
          }
        }
      }

      &.active {
        transform: translateX(0);
        visibility: visible;
      }
    }
  }

  .hamburger {
    z-index: 9999;
    float: right;
    .hamburger-slice {
      width: 20px;
      height: 2px;
      background: $text-color;
      display: block;
      transition: all $animation-speed * 2 ease-in-out;

      margin: 5px;

      @include tablet() {
        display: none;
      }
    }

    &.overlay {
      position: fixed;
      top: 0;
      right: 0;
      padding: ($border / 2);

      .hamburger-slice {
        background: $light;

        &:nth-child(1) {
          transform: translateY(7px) rotate(-225deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(225deg);
        }
      }
    }
  }
}
