html {
  background-color: $background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $text-color;
  margin: 0;
  padding: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

img {
  @if $use-dark-theme {
    opacity: 0.9;
  }
}
