body {
  font-family: $font-stack-sans-serif;
  font-size: $size-base;
  text-size-adjust: 100%;
  line-height: auto;
}

blockquote {
  border-left: 1px solid $text-color-quote;
  margin: 0 0 1rem;
  padding: 0.5rem 0.5rem;
  color: $text-color-quote;
  text-align: left;

  p:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

p {
  line-height: 1.5rem;
}
